* {
    box-sizing: border-box; }

html, body {
    height: 100%;
    margin: 0;
    background-color: black; 
}

.bg {
    background: rgb(31,29,42);
    background: linear-gradient(90deg, rgba(31,29,42,1) 0%, rgba(31,29,46,1) 40%, rgba(31,29,46,1) 100%);
    height: calc(100% - 8vh);     
    width: 100%;
}

.banner {
    position: relative; 
    left: 0%;
    top: 0;
    
    background-color: #908CAA; 
    width: 100%; 
    height: 8vh; 
    border-radius: 0px;
}

#title {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6dvh;
    color: rgb(37, 37, 37); 
    line-height: 8vh; 
    margin: 0; 
}

.toprow {
    border: 0;
    height: 115px;
    width: 115px;
    
}

a,img{
    border-radius: 15px;
}
a{
    text-align: center;
    font-family:"AnonymicePro Nerd Font", sans-serif ;
    font-weight: bold;
    color: #E0DEF4;
    text-decoration: none;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    font-size: 21px;

}
td {
    text-align: center; 
    border-collapse: collapse;
    padding:10px;

    height: 150px; 
   
}

a:hover{
    text-decoration: default;
}


#group1 {
    text-align: center; 
    height: 5vh;
    width:10vh;
    
    font-size: 30px;
    font-weight: bolder;
    color: #EBBCBA;
}
#group2 {
    text-align: center; 
    height: 5vh;
    width:200vh; 
    font-size: 30px;
    font-weight: bolder;
    color: #EBBCBA;
}
#table1{
    margin:auto;
    width: 75%;
    border-collapse: collapse;
}
#table2{
    margin: auto;
}
tr{
    align-items: center;
}
